@media (min-width: 375px) and (max-width: 768px){

}

@media (min-width: 768px){
    .mainPage{
        /*display: flex;
        flex-direction: row;
        flex-wrap: wrap;*/
    }
}

/*body{
    background-image: url(images/backgroud/blackbackground.jpeg);
}*/

.topBar{
    position: relative;
    display: flex;
    width: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
}

.status_TopNav{
    
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(69, 67, 67);
    padding-top: 5%;
    padding-bottom: 3%;
}

.timeContainer{
    margin-left: 12%;
    margin-bottom: 2%;
}

.statusContainer{
    margin-right: 4%;
}

.logoAngostoContainer{
    margin-left: 8%;
}

.menuAngosto_TopNav{
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(69, 67, 67);
    padding-top: 1.5%;
    padding-bottom: 5%;
}

.homeLogo_Angosto{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}

#baraMenuImage{
    align-self: center;
}

.menuHamburgerContainer{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap; 
}

.mainPage{
    position: relative;
    display: block;
    padding-left: 8%;
    padding-right: 8%;
    width: 327px;
}

.mainPage h1{
    color:#FF6B00;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
}

.mainPage h2{
    color: #FFF5E1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.mainPage p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.contentContainer{
    padding-top: 35%;
    display: block;
}

.contentContainer h1{
    font-family: 'Crete Round';
    font-weight: normal;
}

.contentContainer h2{
    font-family: 'Roboto';
    font-weight: bold;
}

.contentContainer p{
    font-family: 'Poppins';
    font-weight: normal;
}

.contentContainer p{
    /*width: inherit;*/
}

.background{
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: -1;
    background-repeat: repeat-x;

}

.socialLinks{
    padding-bottom: 55%;
    display: flex;
    width: 100%;
    
    /*margin-left: auto;
    margin-right: auto;*/
}

.socialLinks a{
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
}

footer{
    /*padding-top: 25px;*/
}

.portada{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}