body{
    background-image: url(images/backgroud/blackbackground.jpeg);
}

.topBar{
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
}

.status_TopNav{
    
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(69, 67, 67);
    padding-top: 5%;
    padding-bottom: 3%;
}

.timeContainer{
    margin-left: 12%;
    margin-bottom: 2%;
}

.statusContainer{
    margin-right: 4%;
}

.logoAngostoContainer{
    margin-left: 8%;
}

.menuAngosto_TopNav{
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(69, 67, 67);
    padding-top: 1.5%;
    padding-bottom: 5%;
}

.homeLogo_Angosto{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}

#baraMenuImage{
    align-self: center;
}

.menuHamburgerContainer{
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPage{
    /*background-color: rgb(19, 18, 18);*/
    position: relative;
    display: block;
    left: 0;
    padding-left: 8%;
    padding-right: 8%;
}

.mainPage h1{
    color:#FF6B00;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
}

.mainPage h2{
    color: #FFF5E1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.mainPage p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.contentContainer{
    padding-top: 35%;
}

.contentContainer p{
width: inherit;
}

.background{
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: -1;
    background-repeat: repeat-x;

}

.portada{
    position: absolute;
    /*text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    white-space: nowrap;
    overflow: hidden;

    display: block;*/
    /*height: 800px;*/
    /*overflow: hidden;
    position: absolute;*/
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    /*top: -125px;*/
}

.portada img{
    /*object-fit: cover;
    height: 100%;
    width: 100%;
    background-color: rgb(19, 18, 18);*/
}

.socialLinks{
    padding-bottom: 55%;
}

.socialLinks a{
    padding-left: 3%;
    text-decoration: none;
}

