.fancyElement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  border: 4px solid red;
  padding: 2px 2px 2px 2px;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.fancyElement img {
  max-width: 100%;
  max-height: 100%;
}

.fancyElement_innerRotation {
  animation: fancyElementInnerCircleRotation 95s linear infinite;
}

.fancyElement_outerRotation {
  animation: fancyElementOuterCircleRotation 95s linear infinite;
}

.fancyElement_selfAntiClockRotation {
  animation: fancyElementRotation_anticlock 60s linear infinite;
}

.fancyElement_selfClockRotation {
  animation: fancyElementRotation_clock 60s linear infinite;
}

@keyframes fancyElementInnerCircleRotation {
  from {
    transform: rotate(var(--start-angle, 0deg)) translateX(100px) rotate(var(--start-angle, 0deg));
  }

  to {
    transform: rotate(calc(var(--start-angle, 0deg) + 360deg)) translateX(100px) rotate(calc(var(--start-angle, 0deg) - 360deg));
  }
}

@keyframes fancyElementOuterCircleRotation {
  from {
    /* transform: rotate(360deg) translateX(180px) rotate(0deg); */
    transform: rotate(var(--start-angle, 360deg)) translateX(175px) rotate(0deg);
  }

  to {
    /* transform: rotate(0deg) translateX(180px) rotate(-360deg); */
    transform: rotate(calc(var(--start-angle, 360deg) - 360deg)) translateX(175px) rotate(0deg);
  }
}

@keyframes fancyElementRotation_anticlock {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes fancyElementRotation_clock {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spaceElement {
  background-color: azure;
  border-radius: 40px;
  position: absolute;
  padding: 0 10px 0 10px;
  box-shadow: 0 0 20px red;
}

.spaceElement_align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceElement_left_fixRotate {
  transform: rotate(180deg);
}

.space_rotation_clock_left {
  animation: space_rotation_clock_left 15s linear infinite;
}

.space_rotation_anticlock_left {
  animation: space_rotation_anticlock_left 15s linear infinite;
}

@keyframes space_rotation_clock_left {
  0% {
    transform: rotate(160deg) translateX(380px);
  }

  100% {
    transform: rotate(200deg) translateX(380px);
  }
}

@keyframes space_rotation_anticlock_left {
  0% {
    transform: rotate(200deg) translateX(380px);
  }

  100% {
    transform: rotate(160deg) translateX(380px);
  }
}