html {
  scroll-behavior: smooth;
}

.home {
  background-color: #200408;
  margin-bottom: 60%;
}

.carousel_cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: azure;
  padding-bottom: 3%;
  padding-top: 3%;
}

.carousel_part {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.place_back {
  display: block;
  position: fixed;
  top: 0;
  z-index: -10;
  background-color: #8d2f23;
  width: 100%;
  height: 100%;
}