@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.project_expo {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: azure;
  padding-top: 6%;
}

.projectTitle {
  font-size: 55px;
  padding-bottom: 3%;
  /* padding: 0% 10% 5% 10%; */
}

.projects_cnt {
  display: flex;
  flex-direction: row;
}

.projects_line_wrapper {
  border: 1px solid rgb(92, 108, 123, 0.3);
  margin-left: 2%;
  /* position: sticky;
  top: 0; */
  /* position: relative; */
}

.projects_line {
  height: 50%;
  background: linear-gradient(to bottom, rgba(141, 47, 35, 0.1) 0%, rgba(141, 47, 35, 1) 50%, rgba(141, 47, 35, 0.1) 100%);
  width: 1px;
  /* position: relative; */
}

.projects_light {
  width: 4px;
  box-shadow: 0 0 50px rgba(235, 44, 19, 0.7);
  background: radial-gradient(ellipse 310px 170px, rgba(141, 47, 35, 1), rgba(32, 4, 8, 0.3));
  position: absolute;
  height: 50%;
}

.projects_list_cnt {
  width: 100%;
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: 1fr;
}