@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.sliderExp {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sliderCnt {
  border-radius: 40px;
  background-color: rgba(141, 47, 35, 0.95);
  width: 45%;
  z-index: 50;
  justify-content: center;
  display: flex;
}

.sliderNav ul {
  display: flex;
  justify-content: center;
  padding: 1% 2% 1% 2%;
}

.sliderNav ul li {
  list-style-type: none;
  padding: 2% 5% 2% 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.sliderNav ul li a {
  text-wrap: nowrap;
  text-decoration: none;
  color: azure;
  font-family: "Roboto Mono", monospace;
}

.stickyNav {
  border-radius: 40px;
  background-color: rgba(141, 47, 35, 0.95);
  width: 45%;
  position: fixed;
  top: 0;
  margin-top: 1%;
  max-height: 55px;
  border: 2px solid #200408;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SliderNavLines li:not(:first-child):not(:last-child) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.SliderNavLines li:nth-child(1) {
  border-right: 1px solid black;
}

.SliderNavLines li:nth-last-child(1) {
  border-left: 1px solid black;
}
