@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.sliderCnt {
  background-color: #8d2f23;
  border-radius: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.sliderCnt_invisible {
  background-color: #200408;
  color: #200408;
}

.disapear_transition {
  transition: opacity 0.3s ease-in-out;
}

.visible {
  opacity: 1; /* Element is visible and fully opaque */
}

.sliderNav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1% 2% 1% 2%;
}

.sliderNav ul li {
  list-style-type: none;
  padding: 1% 2% 1% 2%;
}

.sliderNav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Roboto Mono", monospace;
}

.stickyNav {
  background-color: #8d2f23;
  position: fixed;
  top: 0;
  border-radius: 40px;
  margin-top: 1%;
  width: 91.5%;
}

.horizontalLine {
  width: 2px;
  background-color: black;
  border: none;
}

/* .navbar {
  background-color: #333;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.navbar.opened {
  transform: translateX(0);
}

.navbar ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navbar li {
  margin: 15px 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
} */
