@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Kode+Mono:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.font_roboto {
  font-family: "Roboto Mono", monospace;
}

.spaceElement_bold {
  font-weight: bold;
}

.spaceElement {
  background-color: azure;
  border-radius: 40px;
  position: absolute;
  padding: 0 10px 0 10px;
  box-shadow: 0 0 14px 4px rgba(141, 47, 35, 1);
  overflow: hidden;
  height: 40px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceElement img {
  object-fit: cover;
  max-width: 100%;
  max-height: auto;
  max-width: 25%;
  max-height: 25%;
  padding-right: 3%;
}

.spaceElement_align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceElement_left_fixRotate {
  transform: rotate(180deg);
}

.space_rotation-clockwise-left {
  animation: space_rotation_clock_left 15s linear infinite;
}

.space_rotation-anti-clockwise-left {
  animation: space_rotation_anticlock_left 15s linear infinite;
}

@keyframes space_rotation_clock_left {
  0% {
    transform: rotate(var(--start-angle, --rad-End)) translateX(var(--radii-level));
  }
  
  25% {
    transform: rotate(var(--rad-Start)) translateX(var(--radii-level));
  }
  
  50% {
    transform: rotate(var(--start-angle, --rad-End)) translateX(var(--radii-level));
  }
  
  75% {
    transform: rotate(var(--rad-End)) translateX(var(--radii-level));
  }
  
  100% {
    transform: rotate(var(--start-angle, --rad-End)) translateX(var(--radii-level));
  }
}

@keyframes space_rotation_anticlock_left {
  0% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }
  
  25% {
    transform: rotate(var(--rad-End)) translateX(var(--radii-level));
  }
  
  50% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }

  75% {
    transform: rotate(var(--rad-Start)) translateX(var(--radii-level));
  }
  
  100% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }
}

.space_rotation-clockwise-right {
  animation: space_rotation_clock_right 15s linear infinite;
}

.space_rotation-anti-clockwise-right {
  animation: space_rotation_anticlock_right 15s linear infinite;
}

@keyframes space_rotation_clock_right {
  0% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }
  
  25% {
    transform: rotate(var(--rad-Start)) translateX(var(--radii-level));
  }
  
  50% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }

  75% {
    transform: rotate(calc(360deg + var(--rad-End, --rad-Start))) translateX(var(--radii-level));
  }
  
  100% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }
}

@keyframes space_rotation_anticlock_right {
  0% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }
  
  25% {
    transform: rotate(calc(360deg + var(--rad-End))) translateX(var(--radii-level));
  }
  
  50% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }
  
  75% {
    transform: rotate(var(--rad-Start)) translateX(var(--radii-level));
  }
  
  100% {
    transform: rotate(var(--start-angle, --rad-Start)) translateX(var(--radii-level));
  }
}