.last_wp_btn_part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
}

.wp_btn_cont {
  width: 100%;
}

.wp_btn {
  background-image: linear-gradient(to right, #8d2f23, #200408);
  display: flex;
  border: 1px solid #ccc;
  border-radius: 60px;
  padding: 10px 20px;
}

.wp_btn_text {
  color: azure;
  font-size: x-large;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.wp_btn_img img{
  width: 70%;
}